* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
#vos-criminul {
    text-align: center;

    /* Dimension */
    width: 90%;

    /* Centrer horizontalement */
    margin: 1rem auto;

    /* Affichage en flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre */
#vos-criminul h1 {
    /* Position relative */
    position: relative;

    /* Marge */
    margin-bottom: 2.5rem;
}

/* Loupe */
#vos-criminul h1::before {
    content: "";

    /* Afficher la loupe */
    background-image: url("/images_criminul/loupe.png");
    background-size: cover;

    /* Dimensions de la loupe */
    width: 115px;
    height: 115px;

    /* Position absolue */
    position: absolute;

    /* Positionnement de la loupe  */
    transform: translateY(-35%) translateX(-43%) rotate(-30deg);
}

#vos-criminul p {
    /* Marge */
    margin-bottom: 0.5rem;
}

.loupe {
    /* Taille du texte sous la loupe */
    font-size: 1.5em;

    /* Marge */
    margin-right: 0.5rem;
}

/* Conteneur des criminuls */
#criminuls {
    width: 90%;
    margin: 0 auto;

    /* Affichage en flexbox */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Criminuls */
.criminul {
    /* Affichage en flex */
    display: flex;

    /* Transition */
    transition: 0.4s;
}

.criminul.active {
    /* Centrer */
    padding: 1rem;

    /* Bordures */
    border: 1px solid black;
    border-radius: 10px;
}

.criminul aside {
    /* Dimensions */
    height: 29vw;
    width: 60%;

    /* Bordures */
    border: 1px solid black;
    border-radius: 10px;
}

/* On cache l'image quand on retourne la carte */
.criminul.active aside {
    display: none;
}

/* Images */
.criminul aside img {
    /* Dimensions */
    height: 100%;
    width: 100%;

    /* Rogner l'image */
    object-fit: cover;

    /* Bordures */
    border-radius: 10px;
}

/* Articles */
.criminul article {
    text-align: center;

    /* Dimension */
    width: 40%;

    /* Marges */
    padding: 0.5rem;

    /* Bordures */
    border: 1px solid black;
    border-radius: 10px;
}

/* On cache la présentation de l'histoire quand on retourne la carte */
.criminul.active article {
    display: none;
}

.criminul article h2 {
    /* Marge */
    margin-bottom: 0.5rem;

    /* On souligne les titres */
    text-decoration: underline;

    /* On modifie l'affichage de la souris au survol */
    cursor: pointer;
}

/* On cache l'histoire tant que la carte n'est pas retournée */
.more {
    display: none;
}

.criminul.active .more{
    /* On l'affiche */
    display: initial;

    /* Centrer */
    margin: auto;

    /* On change l'affichage de la souris au survol */
    cursor: pointer;
}

/* Desktop */
@media screen and (min-width:769px) {
    /* Header */
    #vos-criminul {
        /* Alignement à gauche */
        align-items: flex-start;

        /* Marge */
        margin-bottom: 5rem;

        /* Dimension */
        width: 80%;
    }

    #vos-criminul p {
        /* Marge */
        margin-bottom: 0;
    }

    /* Conteneur des criminuls */
    #criminuls {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        /* Dimension */
        width: 80%;
    }

    /* Criminuls */
    .criminul {
        flex-direction: column;

        /* Dimensions */
        height: 100%;
        width: 25%;
    }
    
    .criminul.active{
        width: 40%;
    }

    .criminul aside {
        /* Dimensions */
        height: 14vw;
        width: 100%;
    }

    /* Articles */
    .criminul article {
        text-align: initial;

        /* Marges */
        margin: 1rem 0;

        /* Dimension */
        width: 100%;
    }

    .criminul article h2 {
        /* Marge */
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 506px) {  
    .criminul article p {
        /* On retire le paragraphe */
        display: none;
    }
}