/*body resposive avec degradé et img police pour page Raconte-Nous*/
#background{
    background:  url(background.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
     display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    }
 img{
    max-width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
 }
    


    



    