h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.75px; 
    letter-spacing: 0.1px;
    text-align: center;
}

body{
    background: linear-gradient(213deg, #333 17.68%, #940606 57.5%, #333 100.42%);
    width: 320px;
    height: 755px;
}
p{
    width: 200px;
    height: 70px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; 
    letter-spacing: 0.05px;
    position: relative;
    padding-left: 10px;
}
p::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 15px);
    width: 1px;
    background: #FFE500;
    box-shadow: 0px 4px 4px 0px #000;
}
.photos img{
    box-shadow: 0px 4px 4px 0px #000;
}

.images img{
    width: 70%; 
    margin-bottom: 5%;
    margin-top: 5%;

}
.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    padding: 5px;
}

.images h3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    left: 50%;
    color: #FFF;
    padding: 1%;
    margin: 0;
}

@media screen and (min-width:769px) {
    .photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px; 
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .images img {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    p{
        width: 200px;
        height: auto;
        margin-bottom: 80px;
        font-size: 20px;
        line-height: 20px;     
    }

    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px;
    };

    p::after {
        display: none;
    }
    .para{
        display: flex;
        justify-content: flex-end;
    }
    
}